Brotli
certifi
cffi
charset-normalizer
colorama
h2
hpack
httplib2
hyperframe
idna
pycparser
pydicom
pynetdicom
pyparsing
PySocks
requests
setuptools==75.6.0
tqdm
urllib3
wheel==0.45.1
zstandard==0.23.0
